## coregen
*.vho
*.cgp
*.gise
*.xise
*.tcl
*.xlpp
*.projectmgr
*.xreport
*.xmsgs
*.scr
*.xcf

## ise
*.lso
*.bin
*.xml
*.xrpt
*.xst
*.cmd_log
*.html
*.syr
*.ngr
*.prj
*.stx
*.tcl
*.gise
*.xise
*.projectmgr
*.jou
*.ppr
*.data
*.tmp
*.ref
*.vho
*.bld
*.pad
*.lst
*.map
*.mrp
*.ngm
*.swp
*.xbcd
*.ngd
*.bgn
*.drc
*.ncd
*.pcf
*.ptwx
*.twx
*.unroutes
*.xwbt
*.csv
*.par
*.twr
*.xpi
*.ut
